<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoryQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StoryQ.Properties.Settings>
            <setting name="IgnoreExceptionType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Microsoft.VisualStudio.TestTools.UnitTesting.AssertInconclusiveException,Microsoft.VisualStudio.QualityTools.UnitTestFramework</string>
                        <string>NUnit.Framework.IgnoreException,nunit.framework	</string>
                    </ArrayOfString>
                </value>
            </setting>
        </StoryQ.Properties.Settings>
    </applicationSettings>
</configuration>