<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoryQ.Converter.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StoryQ.Converter.Wpf.Properties.Settings>
            <setting name="InputText" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsXml" serializeAs="String">
                <value />
            </setting>
        </StoryQ.Converter.Wpf.Properties.Settings>
    </userSettings>
</configuration>